@charset "utf-8";

#personal {
  margin: 40px 30px 0px 30px;
  height: 80vh;
}
@media only screen and (min-width: 770px) {
  #personalUser {
    margin-top: 60px;
    display: flex;
    width: 100%;
    height: 15vh;
    justify-content: center;
  }
  .userInfo {
    width: 40vw;
  }
}
@media only screen and (max-width: 770px) {
  #personalUser {
    margin-top: 60px;
    display: flex;
    width: 100%;
    height: 15vh;
    justify-content: left;
  }
  .userInfo {
    width: 100%;
  }
}

.userBar {
  padding-bottom: 20px;
  display: flex;
  border-bottom: solid thin #aaaa;
}
.userImage {
  width: 100px;
  height: 100px;
  background-color: #aaaa;
  margin: 0px 30px 0px 20px;
}
.userIntro {
  flex-direction: row;
  .box {
    padding: 5px;
  }
}

#detail {
  .post-title {
    display: flex;
    justify-content: center;
    .title {
      font-size: 40px;
      margin-top: 100px;
      padding-bottom: 30px;
      width: 1050px;
      border-bottom: solid 1.5px #00796b;
    }
  }
  .aside-left {
    width: 60px;
    float: left;
    position: fixed;
    justify-content: center;
    .left-side {
      position: fixed;
      top: 350px;
      left: 100px;
      font-size: 40px;
      .floating-bar {
        flex-direction: row;
        padding: 10px;
        background-color: #e8eaf6;
        border-radius: 20px;
        .like p {
          text-align: center;
          font-size: 15px;
        }
        .fas {
          margin-top: 30px;
        }
      }
    }
  }
  .aside-right {
    left: 85%;
    float: right;
    position: fixed;
    .title-anchor {
      border-left: solid 4px #e1e2e1;
    }
  }

  #context-menu {
    position: absolute;
    z-index: 10000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    transform: scale(0);
    transform-origin: top left;
  }
  #context-menu.active {
    transform: scale(1);
    transition: transform 300ms ease-in-out;
  }
  #context-menu .item {
    padding: 8px 10px;
    font-size: 15px;
    color: #eee;
  }
  #context-menu .item:hover {
    background: #555;
  }
  #context-menu .item i {
    display: inline-block;
    margin-right: 5px;
  }
  #context-menu hr {
    margin: 2px 0px;
    border-color: #555;
  }
  .comment {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding: 5px;
    align-items: center;
    textarea {
      width: 50%;
      height: 50px;
      padding: 10px 10px;
      background-color: #f5f5f6;
      border-radius: 10px;
    }
    button {
      background-color: #00796b;
      color: #eee;
      height: 40px;
      padding: 12px 15px 10px 15px;
      margin-left: 20px;
      border: none;
      border-radius: 10px;
    }
  }
}

.post-items {
  .post-item {
    h3 {
      margin-bottom: 15px;
    }
    img {
      width: 250px;
      height: 250px;
    }
  }
  .post-article {
    list-style: none;
    padding-bottom: 50px;
    margin-bottom: 60px;
    border-bottom: solid 1px #aaaa;
    .article-title {
      margin: 0px 20px 20px 20px;
      text-align: left;
      font-size: 48px;
    }
    .article-content {
      font-size: 20px;
      margin: 10px 20px 30px 20px;
      text-align: left;
    }
    .article-tag {
      background-color: #ddd;
      border: none;
      cursor: auto;
      border-radius: 16px;
      padding: 7px;
      margin: 7px 3px;
      color: #0ca678;
    }
    .article-day {
      display: inline;
      font-size: 15px;
      margin: 10px 10px 10px 20px;
      float: left;
    }
    .article-comment {
      display: inline;
      font-size: 15px;
      margin: 10px 0px;
      float: left;
    }
  }
}

#personalPost {
  .tagbar {
    margin-top: 60px;
    margin-left: 40px;
    width: 150px;
    justify-content: center;
    float: left;
    h2 {
      padding: 5px 10px 5px 10px;
      border-bottom: solid;
      text-align: center;
    }
    ul {
      list-style-type: square;
      margin: 30px;
      li {
        margin: 0px 0px 10px 20px;
      }
    }
  }
  .postBox {
    float: left;
    width: 80%;
    .postBar {
      display: flex;
      justify-content: center;
      margin-top: 60px;
      .postLink {
        font-size: 32px;
        margin: 0px 15px;
        padding: 15px;
        color: #00796b;
      }
      .postLink:focus {
        border-bottom: solid #00796b;
      }
    }
    .postView {
      width: 55vw;
      margin: auto;
      margin-top: 70px;
      padding: 30px 100px;
      height: 50vh;
      text-align: center;
    }
  }
}
@media only screen and (max-width: 500px) {
  #personalPost {
    width: 100%;
    .tagbar {
      display: none;
    }
    .postBox {
      float: left;
      width: 100%;
      .postBar {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        .postLink {
          width: 45%;
          text-align: center;
          font-size: 32px;
          margin: 0px 15px;
          padding: 15px;
          color: #00796b;
          border-bottom: solid #00796b;
        }
      }
    }
  }
}
