@charset "utf-8";

#personal {
  margin: 40px 30px 0px 30px;
  height: 80vh;
}

.userBar {
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  border-bottom: solid thin #aaaa;
  .userImage {
    width: 100px;
    height: 100px;
    border-radius: 70%;
    background-color: #cfe0f4;
    margin: 0px 30px 0px 20px;
  }
  .userIntro {
    flex-direction: row;
    .box {
      padding: 5px;
    }
  }
}

#detail {
  .post-title {
    display: flex;
    justify-content: center;
    .title {
      font-size: 30px;
      margin: 100px 0px 50px 0px;
      padding-bottom: 15px;
      width: 45vw;
      border-bottom: solid 1.5px #00796b;
    }
    .title-item {
      margin-top: 20px;
      .author {
        font-weight: 600;
        display: inline-block;
        font-size: 26px;
        margin-right: 2%;
      }
      .written-date {
        vertical-align: middle;
        display: inline-block;
        font-size: 24px;
        color: #aaaaaa;
      }
      .written-tag {
        padding: 10px 0px 20px 0px;
        span a {
          background-color: #e8eaf6;
          font-size: 17px;
          border: none;
          border-radius: 16px;
          padding: 7px;
          margin: 10px 12px 10px 0px;
          color: #0ca678;
        }
      }
    }
  }
  .v-md-editor {
    width: 47vw;
    margin: auto;
    height: 100vh;
  }
  .aside-left {
    width: 60px;
    float: left;
    position: fixed;
    justify-content: center;
    .left-side {
      position: fixed;
      top: 35vh;
      left: 15vw;
      font-size: 40px;
      .floating-bar {
        flex-direction: row;
        padding: 10px;
        background-color: #e8eaf6;
        border-radius: 20px;
        .like {
          text-align: center;
          p {
            text-align: center;
            font-size: 15px;
          }
        }
        .fas {
          cursor: pointer;
          margin-top: 8px;
        }
        .download {
          text-align: center;
          p {
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }
  }
  .aside-right {
    left: 85%;
    float: right;
    position: fixed;
    .title-anchor {
      border-left: solid 4px #e1e2e1;
    }
  }
  /// 수정 모달 페이지

  .post-userBar {
    width: 40%;
    margin: auto;
    .userBar {
      margin-top: 20px;
      padding: 30px 0px;
      display: flex;
      border: solid thin #aaaa;
      border-radius: 8px;
      .userImage {
        width: 100px;
        height: 100px;
        border-radius: 70%;
        background-color: #cfe0f4;
        margin: 0px 30px 0px 20px;
      }
      .userIntro {
        flex-direction: row;
        .box {
          vertical-align: middle;
          padding: 5px;
        }
      }
    }
  }
  /// 수정 삭제 버튼
  .post-update {
    text-align: center;
    .update-button {
      font-size: 20px;
      margin: 5px 15px;
      padding: 8px 13px;
      background-color: #48a999;
      color: white;
      border-radius: 8px;
    }
    .modal.fade {
      .modal-dialog.modal-fullsize {
        min-width: 80%;
        height: 80%;
        margin: 4% 10%;
        padding: 0;
      }
      .modal-content.modal-fullsize {
        min-height: 80%;
        border-radius: 0;
      }
      .modal-header {
        border: none;
        .modal-title {
          font-size: 28px;
          width: 80%;
        }
      }
      .modal-tags {
        display: flex;
        height: 63px;
        padding: 16px;
        border-bottom: solid 1px #dee2e6;
        input {
          margin-left: 8px;
          width: 16%;
        }
      }
      .modal-footer {
        button {
          font-size: 20px;
          margin: 5px 15px;
          padding: 8px 13px;
          background-color: #48a999;
          color: white;
          border-radius: 8px;
        }
      }
    }
  }

  #context-menu {
    position: absolute;
    z-index: 10000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    transform: scale(0);
    transform-origin: top left;
  }
  #context-menu.active {
    transform: scale(1);
    transition: transform 300ms ease-in-out;
  }
  #context-menu .item {
    padding: 8px 10px;
    font-size: 15px;
    color: #eee;
  }
  #context-menu .item:hover {
    background: #555;
  }
  #context-menu .item i {
    display: inline-block;
    margin-right: 5px;
  }
  #context-menu hr {
    margin: 2px 0px;
    border-color: #555;
  }
  .commentBox {
    display: flex;
    justify-content: center;
    .commentBox2 {
      margin: 100px 0px 50px 0px;
      padding-bottom: 15px;
      width: 46%;
      .comment-label {
        width: 97%;
        justify-content: center;
        margin: auto;
        font-size: 20px;
      }
      .comment {
        margin-bottom: 80px;
        padding: 5px;
        align-items: center;
        textarea {
          width: 100%;
          margin-top: 10px;
          height: 130px;
          padding: 10px 10px;
          background-color: #f5f5f6;
          border-radius: 10px;
        }
        .comment-underbar {
          display: flex;
          float: right;
          margin-top: 15px;
          span {
            margin-top: 7px;
            font-size: 14px;
          }
          .secret-button {
            cursor: pointer;
            margin-right: 6px;
            .fa-lock {
              margin-left: 10px;
              margin-bottom: 3px;
              font-size: 32px;
            }
            .fa-unlock {
              margin-left: 10px;
              margin-bottom: 3px;
              font-size: 32px;
              color: #aaaa;
            }
          }
          button {
            font-size: 17px;
            background-color: #48a999;
            color: white;
            padding: 5px 8px;
            margin-left: 20px;
            border: none;
            border-radius: 7px;
          }
        }
      }
      .comment-list {
        // margin: auto;
        padding: 10px 10px 30px 10px;
        align-items: center;
        border-bottom: solid 1px #aaaa;
        width: 100%;
        > div {
          > textarea {
            width: 100%;
          }
        }
        .comment-profile {
          display: flex;
          margin: 10px;
          vertical-align: middle;
          .profile-img {
            margin-right: 30px;
            .img {
              margin-top: 8px;
              width: 50px;
              height: 50px;
              background-color: #aaaaaa;
              border-radius: 70%;
            }
          }
          .writer-info {
            margin-top: 10px;
            .writer-id {
              font-weight: bold;
            }
            .written-day {
              color: #aaaa;
            }
          }
          .comment-button {
            display: block;
            width: 76%;
            p {
              cursor: pointer;
              float: right;
              margin-right: 10px;
              color: #aaaa;
            }
          }
        }
        .comment-content {
          margin: 30px 10px;
        }
        .comment-content-secret {
          margin: 15px 10px;
          display: inline-block;

          .secret-img {
            vertical-align: middle;
            height: 32px;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .request-modal {
    .modal-dialog {
      margin-top: 15%;
      border: none;
      .modal-content {
        border: solid 3px #48a999;
        border-radius: 8px;
        .modal-header {
          border: none;
          p {
            font-size: 24px;
            font-weight: 800;
            color: #48a999;
          }
        }
        .modal-body {
          padding: 0px 16px 16px 16px;
          p {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 15px;
          }
          .request-content {
            margin: 0px 5px;
          }
        }
        textarea {
          padding: 10px 21px;
          border-top: solid thin #aaaa;
          border-bottom: solid thin #aaaa;
          height: 292px;
        }

        .modal-footer {
          button {
            margin-right: 5px;
            font-weight: 600;
            color: #48a999;
          }
        }
      }
    }
  }
}

.personal-intro {
  text-align: center;
  p {
    font-size: 20px;
    font-weight: 600;
  }
  .button-layout {
    height: 35px;
    margin-bottom: 10px;
  }
  .updateBtn {
    float: right;
    font-weight: 600;
    margin: 5px 15px;
    padding: 8px 13px;
    background-color: #48a999;
    color: white;
    border-radius: 5px;
  }
  #introConfirm {
    .intro-box {
      width: 100%;
      height: 150px;
      padding: 3px;
      border: 2px #48a999 solid;
      border-radius: 5px;
      font-size: 18px;
      font-weight: 600;
    }
    .btn-box {
      .updateConfirmBtn {
        font-weight: 600;
        margin: 5px 15px;
        padding: 8px 13px;
        background-color: #48a999;
        color: white;
        border-radius: 5px;
      }
    }
  }
}
#post-items {
  .loading-box {
    display: flex;
    margin: 0 20%;
    justify-content: center;
  }
  .post-item {
    text-align: center;
    h3 {
      margin-bottom: 15px;
    }
    img {
      width: 250px;
      height: 250px;
    }
  }
  .post-article {
    list-style: none;
    padding-bottom: 50px;
    margin-bottom: 60px;
    border-bottom: solid 1px #aaaa;
    .article-img {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      a {
        width: 100%;
        img {
          margin: 0px 10%;
          width: 80%;
          height: 45vh;
          background-color: #aaaaaa;
        }
      }
    }
    .article-title {
      margin: 20px;
      text-align: left;
      font-size: 32px;
    }
    .article-tag {
      margin: 0px 13px;
      padding: 20px 0px;
      span a {
        background-color: #e8eaf6;
        border: none;
        border-radius: 16px;
        padding: 7px;
        margin: 7px 5px;
        color: #0ca678;
      }
    }
    .article-day {
      font-size: 15px;
      margin: 20px 10px 10px 20px;
      float: left;
    }
    .article-comment {
      display: inline;
      font-size: 15px;
      margin: 10px 0px;
      // float: left;
    }
  }
}

#personalPost {
  .tagbar {
    margin-top: 60px;
    margin-left: 40px;
    width: 150px;
    justify-content: center;
    float: left;
    h2 {
      padding: 5px 10px 5px 10px;
      border-bottom: solid;
      text-align: center;
    }
    ul {
      list-style-type: square;
      margin: 30px 15px;
      li {
        margin: 0px 0px 10px 20px;
      }
    }
  }
  .postBox {
    margin: auto;
    width: 60%;
    .postBar {
      display: flex;
      justify-content: center;
      margin-top: 60px;
      .postLink {
        width: 12%;
        text-align: center;
        font-size: 32px;
        margin: 0px 30px;
        padding: 15px;
        color: #00796b;
      }
      .postLink:focus {
        border-bottom: solid #00796b;
      }
    }
    .postView {
      width: 100%;
      margin: auto;
      margin-top: 70px;
      padding: 30px 100px;
      height: 50vh;
    }
    .smallTagbar {
      display: none;
    }
  }
}
@media only screen and (max-width: 1024px) {
  #personalUser {
    margin-top: 60px;
  }
}
@media only screen and (max-width: 767px) {
  #detail {
    .post-title {
      .title {
        width: 90%;
      }
    }
    .v-md-editor {
      width: 90%;
    }
    .aside-left {
      .left-side {
        display: none;
      }
    }
    .aside-right {
      display: none;
    }
    .post-userBar {
      margin: 0 30px;
      width: calc(100% - 60px);
      .userBar {
        .userImage {
          width: calc(100px - 3%);
          height: calc(100px - 3%);
        }
      }
    }
    .commentBox {
      .commentBox2 {
        width: 90%;
      }
    }
  }
  #personalUser {
    margin-top: 60px;
    display: flex;
    width: 100%;
    height: 15vh;
    justify-content: left;
  }
  .userInfo {
    width: 100%;
  }
  #personalPost {
    width: 100%;
    .tagbar {
      display: none;
    }
    .postBox {
      margin: auto;
      width: 100%;
      .postBar {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        .postLink {
          width: 50%;
          text-align: center;
          font-size: 32px;
          margin: 30px 15px;
          padding: 15px;
          color: #00796b;
        }
        .postLink:focus {
          border-bottom: solid #00796b;
        }
      }
      .postView {
        width: 100%;
        margin: 0;
        padding: 0;
      }
      .smallTagbar {
        display: block;
        padding-bottom: 30px;
        .smallTagItem {
          background-color: #e8eaf6;
          border: none;
          border-radius: 16px;
          padding: 7px;
          margin: 7px 5px;
          color: #0ca678;
        }
        .smallTagItem:hover {
          background-color: #00796b;
          color: #e8eaf6;
        }
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  #detail {
    .post-userBar {
      h2 {
        font-size: 20px;
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  #personalUser {
    margin-top: 60px;
    display: flex;
    width: 100%;
    height: 15vh;
    justify-content: center;
  }
  .userInfo {
    width: 600px;
  }
}
