@charset "utf-8";
@import "./common";

#post-write {
  .write-header {
    @include wrap;
    height: 64px;
    border-bottom: 1px solid #707070;
    box-sizing: border-box;
    padding: 14px 40px;
  }
  .contents {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 40px;
    height: calc(100vh - 64px);
    .editor {
      @include wrap;
      border: 1px solid #ccc;
      textarea {
        @include wrap;
        box-sizing: border-box;
        padding: 20px;
        height: 500px;
        height: calc(100vh - 360px);
        overflow: auto;
      }
      .toolbar {
        @include wrap;
        background: #eee;
        padding: 10px 10px;
        box-sizing: border-box;
        ul {
          @include wrap;
          li {
            float: left;
            &.division {
              border-right: 1px solid #999;
              margin-right: 5px;
              button {
                margin-right: 5px;
              }
            }
            button {
              padding: 5px 6px 0;
            }
          }
        }
      }
    }
    #title {
      @include wrap;
      font-size: $font-size__1;
      border: 1px solid #ccc;
      box-sizing: border-box;
      padding: 20px;
      margin-bottom: 10px;
    }
  }
  .preview {
    width: 50%;
    float: right;
    box-sizing: border-box;
    padding: 40px;
    background: #eee;
    height: calc(100vh - 64px);
    overflow: auto;
    white-space: pre;
    p,
    h1,
    h2,
    h3,
    h4 {
      @include wrap;
    }
  }
}

.post {
  width: 90%;
  height: 120vh;
  margin-left: 5%;
  margin-right: 5%;
  .main-post-bar {
    cursor: pointer;
    display: flex;
    margin-top: 80px;
    padding-bottom: 30px;
    .post-bar-item {
      display: flex;
      margin-right: 25px;
      align-items: center;
      h2 {
        font-weight: $f600;
        font-size: 25px;
      }
      .fas {
        font-size: 25px;
        margin-right: 10px;
      }
    }
    .post-bar-item:focus {
      transition-duration: 0.1s;
      border-bottom: solid #00796b;
    }
  }
  .user-box {
    @include wrap;
    border: 1px solid #000;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 80px;
    position: relative;
    .profile-img {
      width: 107px;
      height: 107px;
      border-radius: 107px;
      border: 1px solid #000;
      float: left;
      @include background-img;
      margin-right: 40px;
    }
    .user-text {
      float: left;
      height: 107px;
      display: table;
      strong {
        font-size: $font-size__2;
        margin-bottom: 10px;
        display: block;
      }
    }
    .btn {
      position: absolute;
      right: 30px;
      bottom: 30px;
    }
  }
  .post-list {
    @include wrap;
    display: block;
    width: 1300px;
    > div {
      width: 25%;
      float: left;
      height: 361px;
      // margin-right:30px;
      margin-bottom: 20px;
      padding: 15px;
      //   width: 285px;
      // &:nth-child(3n) {
      //     margin-right:0;
      // }
      .post-card {
        @include wrap;
        text-align: left;
        border: 2px solid #fafafa;
        border-radius: 10px;
        transition: 0.3s ease;
        .post-img {
          @include wrap;
          @include background-img;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          height: 170px;
          background-image: url("../../../public/img/no_image.png");
          box-sizing: border-box;
        }
        .contents {
          @include wrap;
          padding: 20px;
          box-sizing: border-box;
          h3 {
            @include ellipsis;
            font-size: 17px;
            font-weight: $f600;
            padding-bottom: 10px;
            border-bottom: 1px solid #aaa;
          }
          p.content {
            @include ellipsisMulti(2);
            font-size: $font-size__3;
            height: 3.5em;
          }
          span {
            padding-top: 10px;
            float: left;
            font-size: $font-size__3;
          }
          // div > span > a {
          //   background-color: #e8eaf6;
          //   border: none;
          //   cursor: auto;
          //   border-radius: 16px;
          //   padding: 7px;
          //   margin: 7px 3px;
          //   color: #0ca678;
          // }
        }
        .writer-wrap {
          @include wrap;
          padding: 10px 20px;
          box-sizing: border-box;

          * {
            font-size: $font-size__3;
            cursor: pointer;
          }
          a {
            float: left;
          }
          span {
            float: right;
          }
        }
      }
      .post-card:hover {
        transform: translateY(-5px);
      }
    }
  }
  &.post-temporary {
    margin-left: 0;
  }
  &#post-detail {
    h2 {
      margin-bottom: 20px;
    }
    .like-share {
      float: right;
      margin-top: -6px;
      * {
        float: left;
      }
      img {
        width: 36px;
      }
      span {
        margin: 10px 20px 0 10px;
      }
    }
    .top-info {
      @include wrap;
      margin-bottom: 80px;
      .profile-img {
        @include background-img;
        width: 27px;
        height: 27px;
        float: left;
        border-radius: 27px;
        border: 1px solid #000;
        margin-right: 7px;
        margin-top: -6px;
      }
    }
    .bottom-info {
      @include wrap;
      margin-top: 60px;
      margin-bottom: 80px;
      ul {
        float: left;
        li {
          float: left;
          background-color: #eee;
          border-radius: 100px;
          border: 1px solid #000;
          padding: 6px 20px;
          margin-right: 10px;
        }
      }
    }
    .comment {
      @include wrap;
      .wrap {
        background: #fafafa;
        .count {
          @include wrap;
          box-sizing: border-box;
          padding: 30px 40px 20px 40px;
          font-size: $font-size__2;
        }
        ul {
          @include wrap;
          li {
            @include wrap;
            border-bottom: 1px solid #cccccc;
            padding: 20px 40px;
            box-sizing: border-box;
            &:last-of-type {
              border: none;
            }
            .reply-btn {
              float: right;
              padding: 6px 11px;
            }
            .profile {
              float: left;
              width: 50%;
              .profile-img {
                @include background-img;
                width: 53px;
                height: 53px;
                border-radius: 53px;
                float: left;
                border: 1px solid #000;
                margin-right: 15px;
              }
              .date {
                font-size: $font-size__3;
              }
            }
            .message {
              @include wrap;
              padding-left: 68px;
              box-sizing: border-box;
            }
            .delete-btn {
              float: right;
            }
          }
          .reply-list {
            li {
              border: none;
              padding: 20px 0 0 0;
              .bar {
                width: 26px;
                height: 26px;
                border-bottom: 1px solid #000;
                border-left: 1px solid #000;
                margin-right: 10px;
                float: left;
              }
              .message {
                padding-left: 107px;
              }
            }
          }
        }
      }
      .comment-write {
        @include wrap;
        margin-top: 20px;
        padding: 20px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        margin-bottom: 100px;
        position: relative;
        textarea {
          @include wrap;
          height: 60px;
          padding-bottom: 40px;
        }
        .btn {
          right: 20px;
          bottom: 20px;
          position: absolute;
        }
      }
    }
  }
}

.tag-list-wrap {
  display: block;
  position: fixed;
  text-align: center;
  left: 1500px;
  top: 180px;
  justify-content: center;
  width: 200px;
  h4 {
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
    font-weight: $f600;
  }
  ul.tag-list {
    list-style: none;
    li {
      cursor: pointer;
      margin-bottom: 13px;
    }
    .notice {
      font-size: 15px;
      font-weight: bold;
    }
    div {
      font-size: 15px;
    }
    li:hover {
      transition-duration: 0.2s;
      transform: scale(1.05);
    }
  }
}
@media only screen and (max-width: 1919px) {
  .post {
    .post-list {
      width: 975px;
      .post-card-box {
        width: 33%;
      }
    }
  }
  .tag-list-wrap {
    left: 1125px;
  }
}
@media only screen and (max-width: 1439px) {
  .post {
    .post-list {
      width: 650px;
      .post-card-box {
        width: 50%;
      }
    }
  }
  .tag-list-wrap {
    left: 750px;
  }
}
@media only screen and (max-width: 944px) {
  .post {
    .post-list {
      width: 100%;
      .post-card-box {
        width: 50%;
        height: 454px;
        .post-card {
          .post-img {
            height: 293px;
          }
        }
      }
    }
    .tag-list-wrap {
      display: none;
    }
  }
}
@media only screen and (max-width: 767px) {
  .post {
    .post-list {
      width: 100%;
      .post-card-box {
        width: 100%;
        height: 561px;
        .post-card {
          .post-img {
            height: 400px;
          }
        }
      }
    }
    .tag-list-wrap {
      display: none;
    }
  }
}
