@charset "utf-8";
@import "./common";

.user {
  height: 100vh;

  .wrapC {
    width: 750px;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .middle {
    width: 300px;
  }
  .logo-welcome {
    margin: 10px 0px 20px 0px;
    height: 80px;
    width: 530px;
  }
  .login-image {
    margin: 10px 0px 40px 0px;
  }
  .input-wrap {
    @include wrap;

    margin-bottom: 10px;
    position: relative;
    input {
      @include wrap;
      margin: 0;
      border-radius: 5px;
      border: 1px solid #5ac2ab;
      padding: 10px 15px;
      box-sizing: border-box;
    }
    &.password-wrap {
      input {
        padding-right: 30px;
      }
    }

    span {
      position: absolute;
      right: 9px;
      top: 11px;
      opacity: 0.3;
      &.active {
        opacity: 1;
      }
    }
    .error-text {
      @include wrap;
      margin-top: 5px;
    }
  }

  .btn {
    @include wrap;
    border: none;
    border-radius: 5px;
    background-color: #5ac2ab;
    color: #fff;
  }
}

// 로그인 페이지
#login {
  .sns-login {
    @include wrap;
    margin: 20px 0;
    > div {
      float: right;
      margin-left: 10px;
      img {
        width: 55px;
        height: 55px;
        border-radius: 55px;
      }
    }
  }
  .add-option {
    @include wrap;
    p {
      float: left;
      margin: 5px 10px 10px 10px;
      color: #aaa;
    }
    a {
      margin: 10px;
      float: right;
    }
  }
  .btn--text {
    color: #36cb45;
  }
  .btn--login {
    height: 45px;
  }
  .btn--facebook-login {
    height: 45px;
    padding-left: 20px;
    background-color: #3b5998;
    border-color: #3b5998;
    display: flex;
    align-items: center;
    justify-content: center;
    .fab {
      margin-left: 11px;
    }
    span {
      margin: auto;
    }
  }
  .btn--naver-login {
    height: 45px;
    background-color: #1ec800;
    border-color: #1ec800;
    display: flex;
    align-items: center;
    justify-content: center;
    .naver-icon {
      margin-left: 5px;
      width: 40px;
      height: 40px;
    }
    span {
      margin: auto;
    }
  }
  .btn--google-login {
    height: 45px;
    background-color: #db4a39;
    border-color: #db4a39;
    display: flex;
    align-items: center;
    justify-content: center;
    .fab {
      margin-left: 10px;
    }
    span {
      margin: auto;
    }
  }
}
// 회원가입
#join {
  .signup-image {
    margin: 50px;
  }
  .btn {
    margin-top: 20px;
  }
  .go-term {
    float: right;
    opacity: 0.9;
    cursor: pointer;
  }
  #terms {
    @include wrap;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
  }
  .term-span {
    color: #aaaaaa;
    margin: 0px 97px 0px 6px;
  }
}

// 설정 페이지
#setting {
  > div {
    margin-top: 80px;
    h2 {
      margin-bottom: 40px;
    }
    h3 {
      font-size: $font-size__2;
      font-weight: $f600;
      border-bottom: 1px solid #000;
      margin-bottom: 35px;
      padding-bottom: 5px;
    }
    .setting-form {
      @include wrap;
      margin-bottom: 30px;
      .left {
        width: 140px;
        text-align: center;
        .profile-img {
          @include background-img;
          width: 140px;
          height: 140px;
          border-radius: 140px;
          border: 1px solid #000;
          margin-bottom: 20px;
        }
        #profile-img {
          display: none;
        }
        .btn {
          margin-top: 20px;
          padding: 5px 15px;
          cursor: pointer;
        }
      }
      .right {
        width: 570px;
        label {
          font-weight: $f600;
          @include wrap;
          margin-bottom: 10px;
        }
        .email,
        input,
        textarea {
          @include wrap;
          margin-bottom: 20px;
          box-sizing: border-box;
        }
        input,
        textarea {
          border: 1px solid #ccc;
          padding: 15px 20px;
        }
      }
    }
    .btn-wrap {
      @include wrap;
      position: relative;
      .save-btn {
        padding: 15px 90px;
        display: block;
        margin: 0 auto;
      }
      .secession-btn {
        position: absolute;
        color: #666;
        right: 0;
        top: 15px;
      }
    }
  }
}
