@charset "utf-8";
@import "./common";

.user {
  height: 100vh;
  h1 {
    font-size: $font-size__2;
    text-align: center;
    font-weight: $f600;
    margin-bottom: 20px;
  }
  .wrapC {
    width: 300px;
    margin: 0 auto;
  }
  .input-wrap {
    @include wrap;
    margin-bottom: 10px;
    position: relative;
    input {
      @include wrap;
      border: 1px solid #000;
      padding: 7px 15px;
      box-sizing: border-box;
    }
    &.password-wrap {
      input {
        padding-right: 30px;
      }
    }
    span {
      position: absolute;
      right: 9px;
      top: 11px;
      opacity: 0.3;
      &.active {
        opacity: 1;
      }
    }
    .error-text {
      @include wrap;
      margin-top: 5px;
    }
  }

  .btn {
    @include wrap;
    border-radius: 0;
    background-color: #000;
    color: #fff;
  }
}

// 로그인 페이지
#login {
  .sns-login {
    @include wrap;
    margin: 20px 0;
    > div {
      float: right;
      margin-left: 10px;
      img {
        width: 55px;
        height: 55px;
        border-radius: 55px;
      }
    }
  }
  .add-option {
    @include wrap;
    p {
      float: left;
      color: #aaa;
    }
    a {
      float: right;
      margin-top: 4px;
    }
  }
}

#join {
  .btn {
    margin-top: 20px;
  }
  .go-term {
    float: right;
    opacity: 0.9;
    cursor: pointer;
  }
  #terms {
    @include wrap;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
  }
}

// 설정 페이지
#setting {
  > div {
    margin-top: 80px;
    h2 {
      margin-bottom: 40px;
    }
    h3 {
      font-size: $font-size__2;
      font-weight: $f600;
      border-bottom: 1px solid #000;
      margin-bottom: 35px;
      padding-bottom: 5px;
    }
    .setting-form {
      @include wrap;
      margin-bottom: 30px;
      .left {
        width: 140px;
        text-align: center;
        .profile-img {
          @include background-img;
          width: 140px;
          height: 140px;
          border-radius: 140px;
          border: 1px solid #000;
          margin-bottom: 20px;
        }
        #profile-img {
          display: none;
        }
        .btn {
          margin-top: 20px;
          padding: 5px 15px;
          cursor: pointer;
        }
      }
      .right {
        width: 570px;
        label {
          font-weight: $f600;
          @include wrap;
          margin-bottom: 10px;
        }
        .email,
        input,
        textarea {
          @include wrap;
          margin-bottom: 20px;
          box-sizing: border-box;
        }
        input,
        textarea {
          border: 1px solid #ccc;
          padding: 15px 20px;
        }
      }
    }
    .btn-wrap {
      @include wrap;
      position: relative;
      .save-btn {
        padding: 15px 90px;
        display: block;
        margin: 0 auto;
      }
      .secession-btn {
        position: absolute;
        color: #666;
        right: 0;
        top: 15px;
      }
    }
  }
}

#user-profile {
  .row {
    margin-top: 25px;
    height: 100vh;
    .side-bar {
      position: fixed;
      padding: 80px 0 0 3%;
      height: 100vh;
      width: 15%;
      background-color: #48a999;
      .side-item {
        a {
          color: white;
        }
        font-size: 1.2rem;
        font-weight: bold;
        i {
          margin-right: 10px;
        }
      }
    }
    .small-sidebar {
      display: none;
    }
    .profile-view {
      display: flex;
      justify-content: center;
      margin-left: 15%;
      padding: 4% 4% 0 4%;
      width: 80%;
      .profile-contents {
        margin: 0 5%;
        width: 80%;
        .user-info {
          height: 45vh;
          display: flex;
          .user-img {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-right: solid 2px #ede7f6;
            margin-right: 5%;
            img {
              background-color: #cfe0f4;
              border-radius: 70%;
              width: 40%;
              margin-bottom: 20px;
            }
            .filebox label {
              font-size: 18px;
              background-color: #48a999;
              border: none;
              font-weight: bold;
              border-radius: 7px;
              padding: 10px;
              margin: 10px;
              color: white;
            }
            .button-delete {
              font-size: 18px;
              border: none;
              font-weight: bold;
              border-radius: 7px;
              padding: 10px;
              margin: 10px;
              color: #48a999;
            }
          }
          .user-intro {
            width: 65%;
            .user-name {
              display: inline-block;
              font-size: 36px;
              margin-bottom: 30px;
              padding-bottom: 8px;
              border-bottom: solid 6px #ede7f6;
            }
            .intro-content {
              height: 110px;
              width: 100%;
              padding: 7px;
              border-radius: 5px;
              background-color: #f5f5f6;
              margin-bottom: 15px;
            }
            button {
              float: right;
              margin-right: 5px;
              color: #48a999;
            }
            .password-update {
              width: 100%;
              margin-top: 50px;
              height: 60px;
              div {
                display: inline;
                margin: 5px;
                font-size: 24px;
                padding-bottom: 8px;
                border-bottom: solid 6px #ede7f6;
              }
              p {
                text-align: end;
                font-size: 18px;
                font-weight: 600;
                margin-right: 5px;
                color: red;
              }
            }
          }
        }

        .modal-dialog {
          margin-top: 15%;
          border: none;
          .modal-content {
            border: solid 3px #48a999;
            border-radius: 8px;
            .modal-header {
              border: none;
              p {
                font-size: 24px;
                font-weight: 800;
                color: #48a999;
              }
            }
            .modal-body {
              margin: 0 5%;
              width: 90%;
              height: 150px;
              .input-label {
                label {
                  position: absolute;
                  margin: 10px;
                  text-align: end;
                  width: 25%;
                  font-weight: 600;
                }
                input {
                  width: 45%;
                  margin-left: 35%;
                  height: 32px;
                  border-bottom: solid 1px #48a999;
                }
              }
            }
            .modal-footer {
              button {
                margin-right: 5px;
                color: #48a999;
              }
            }
          }
        }

        .user-active {
          margin: 6% 4% 4% 16%;
          .user-award {
            width: 100%;
            img {
              display: inline-block;
              width: 75px;
              margin-left: 2%;
            }
            div {
              margin-left: 25px;
              height: 75px;
              font-size: 30px;
              font-weight: 600;
              vertical-align: middle;
              display: inline-block;
            }
          }
          .active-item1 {
            font-size: 23px;
            font-weight: 600;
            padding: 20px;
            display: inline-block;
            width: 50%;
            color: white;
            background-color: #48a999;
            i {
              margin-right: 10px;
            }
          }
          .active-item2 {
            font-size: 23px;
            font-weight: 600;
            padding: 20px;
            display: inline-block;
            width: 50%;
            color: #48a999;
            i {
              margin-right: 10px;
            }
          }
          .active-item3 {
            font-size: 23px;
            font-weight: 600;
            padding: 20px;
            display: inline-block;
            width: 50%;
            color: #48a999;
            i {
              margin-right: 10px;
            }
          }
          .active-item4 {
            font-size: 23px;
            font-weight: 600;
            padding: 20px;
            display: inline-block;
            width: 50%;
            color: white;
            background-color: #48a999;
            img {
              height: 24px;
              margin-right: 10px;
            }
          }
          span {
            float: right;
            margin-right: 3%;
          }
        }
      }
    }
    .update-request {
      width: 80%;
      .select-bar {
        margin-bottom: 20px;
        select {
          font-size: 16px;
          padding: 5px;
          option {
            margin: 3px;
          }
        }
      }
      .table {
        border-top: 3px solid #00796b;
        border-bottom: 3px solid #00796b;
        height: auto;
      }
      .table tr:hover {
        background-color: #c6e5d9;
      }
      tr {
        .modal-dialog {
          margin-top: 15%;
          border: none;
          .modal-content {
            border: solid 3px #48a999;
            border-radius: 8px;
            .modal-header {
              p {
                font-size: 24px;
                font-weight: 800;
                color: #48a999;
              }
            }
            .modal-body {
              padding: 16px;
              width: 100%;
              .before-update {
                margin-bottom: 5%;
                > div {
                  font-size: 18px;
                  font-weight: 600;
                  color: #ffa726;
                }
                p {
                  margin: 10px;
                }
              }
              .after-update {
                margin-bottom: 5%;
                > div {
                  font-size: 18px;
                  font-weight: 600;
                  color: #8e24aa;
                }
                p {
                  margin: 10px;
                }
              }
              .request-radio {
                .box-radio-input input[type="radio"] + span {
                  border-radius: 5px;
                  display: inline-block;
                  background: none;
                  margin-right: 10px;
                  border: 1px solid #dfdfdf;
                  padding: 0px 10px;
                  text-align: center;
                  height: 35px;
                  line-height: 33px;
                  font-weight: 600;
                  cursor: pointer;
                }

                .box-radio-input input[type="radio"]:checked + span {
                  border: 1px solid #23a3a7;
                  background: #23a3a7;
                  color: #fff;
                }
              }
            }
            .modal-footer {
              button {
                margin-right: 5px;
                color: #48a999;
              }
            }
          }
        }
      }
      .table th {
        font-size: 18px;
        height: 70px;
        color: white;
        background: #48a999;
        text-align: center;
        padding: 10px;
        border: 1px solid #3b8686;
        border-bottom: 3px solid #3b8686;
        text-align: center;
        vertical-align: middle;
      }
      .table td {
        font-size: 16px;
        padding: 10px;
        height: 45px;
        vertical-align: middle;
        border: 1px solid #3b8686;
        text-align: center;
      }
      .table tr {
        .post-title {
          cursor: pointer;
        }
      }
      .table-under {
        width: 100%;
        button {
          float: right;
          font-size: 18px;
          background-color: #48a999;
          border: none;
          font-weight: bold;
          border-radius: 5px;
          padding: 8px;
          margin: 10px;
          color: white;
        }
      }
    }
  }
}
@media only screen and (max-width: 1240px) {
  #user-profile {
    .row {
      .side-bar {
        width: 20%;
        .side-item {
          width: 150px;
        }
      }
    }
  }
}
@media only screen and (max-width: 865px) {
  #user-profile {
    .row {
      .profile-view {
        margin-top: 50px;
        .profile-contents {
          .user-info {
            .user-img {
              width: 155px;
            }
          }
        }
      }
      .side-bar {
        width: 180px;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  #user-profile {
    .row {
      .profile-view {
        width: 100%;
        margin-top: 130px;
        margin-left: 10px;
        padding-left: 0;
        padding-right: 0;
        .profile-contents {
          margin: 0;
          width: 100%;
          .user-info {
            width: 90%;
            .user-intro {
              .intro-content {
                width: 100%;
              }
            }
          }
          .user-active {
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
      .side-bar {
        display: none;
      }
      .small-side-bar {
        position: fixed;
        top: 150px;
        display: block;
        width: 100%;
        height: 50px;
        background-color: #48a999;
        text-align: center;
        padding-top: 5px;
        .small-side-item {
          float: left;
          width: 33%;
          a {
            color: white;
          }
          font-size: 2.4rem;
          font-weight: bold;
          i {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  #user-profile {
    .row {
      .profile-view {
        margin-top: 100px;
        .profile-contents {
          .user-info {
            .user-intro {
              width: 60%;
              .password-update {
                .password-button {
                  margin-top: 15px;
                }
              }
            }
          }
          .user-active {
            .active-item1 {
              width: 100%;
            }
            .active-item2 {
              width: 100%;
            }
            .active-item3 {
              width: 100%;
              color: white;
              background-color: #48a999;
            }
            .active-item4 {
              width: 100%;
              color: #48a999;
              background-color: white;
            }
          }
        }
      }
      .small-side-bar {
        top: 140px;
      }
    }
  }
}
