@charset "utf-8";
@import "./common";

.user {
  height: 100vh;
  h1 {
    font-size: $font-size__2;
    text-align: center;
    font-weight: $f600;
    margin-bottom: 20px;
  }
  .wrapC {
    width: 300px;
    margin: 0 auto;
  }
  .input-wrap {
    @include wrap;
    margin-bottom: 10px;
    position: relative;
    input {
      @include wrap;
      border: 1px solid #000;
      padding: 7px 15px;
      box-sizing: border-box;
    }
    &.password-wrap {
      input {
        padding-right: 30px;
      }
    }
    span {
      position: absolute;
      right: 9px;
      top: 11px;
      opacity: 0.3;
      &.active {
        opacity: 1;
      }
    }
    .error-text {
      @include wrap;
      margin-top: 5px;
    }
  }

  .btn {
    @include wrap;
    border-radius: 0;
    background-color: #000;
    color: #fff;
  }
}

// 로그인 페이지
#login {
  .sns-login {
    @include wrap;
    margin: 20px 0;
    > div {
      float: right;
      margin-left: 10px;
      img {
        width: 55px;
        height: 55px;
        border-radius: 55px;
      }
    }
  }
  .add-option {
    @include wrap;
    p {
      float: left;
      color: #aaa;
    }
    a {
      float: right;
      margin-top: 4px;
    }
  }
}

#join {
  .btn {
    margin-top: 20px;
  }
  .go-term {
    float: right;
    opacity: 0.9;
    cursor: pointer;
  }
  #terms {
    @include wrap;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
  }
}

// 설정 페이지
#setting {
  > div {
    margin-top: 80px;
    h2 {
      margin-bottom: 40px;
    }
    h3 {
      font-size: $font-size__2;
      font-weight: $f600;
      border-bottom: 1px solid #000;
      margin-bottom: 35px;
      padding-bottom: 5px;
    }
    .setting-form {
      @include wrap;
      margin-bottom: 30px;
      .left {
        width: 140px;
        text-align: center;
        .profile-img {
          @include background-img;
          width: 140px;
          height: 140px;
          border-radius: 140px;
          border: 1px solid #000;
          margin-bottom: 20px;
        }
        #profile-img {
          display: none;
        }
        .btn {
          margin-top: 20px;
          padding: 5px 15px;
          cursor: pointer;
        }
      }
      .right {
        width: 570px;
        label {
          font-weight: $f600;
          @include wrap;
          margin-bottom: 10px;
        }
        .email,
        input,
        textarea {
          @include wrap;
          margin-bottom: 20px;
          box-sizing: border-box;
        }
        input,
        textarea {
          border: 1px solid #ccc;
          padding: 15px 20px;
        }
      }
    }
    .btn-wrap {
      @include wrap;
      position: relative;
      .save-btn {
        padding: 15px 90px;
        display: block;
        margin: 0 auto;
      }
      .secession-btn {
        position: absolute;
        color: #666;
        right: 0;
        top: 15px;
      }
    }
  }
}

#user-profile {
  .row {
    margin-top: 25px;
    height: 100vh;
    .side-bar {
      position: fixed;
      padding: 80px 0 0 55px;
      height: 100vh;
      width: 15%;
      background-color: #48a999;
      .side-item {
        a {
          color: white;
        }
        font-size: 24px;
        font-weight: bold;
        i {
          margin-right: 10px;
        }
      }
    }
    .profile-view {
      display: flex;
      justify-content: center;
      margin-left: 15%;
      padding: 6% 4% 0 4%;
      width: 80%;
      .profile-contents {
        margin: 0 5%;
        width: 80%;
        .user-info {
          display: flex;
          .user-img {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-right: solid 2px #ede7f6;
            margin-right: 5%;
            img {
              background-color: #cfe0f4;
              border-radius: 70%;
              width: 40%;
              margin-bottom: 20px;
            }
            .button-update {
              font-size: 18px;
              background-color: #48a999;
              border: none;
              font-weight: bold;
              border-radius: 7px;
              padding: 10px;
              margin: 10px;
              color: white;
            }
            .button-delete {
              font-size: 18px;
              border: none;
              font-weight: bold;
              border-radius: 7px;
              padding: 10px;
              margin: 10px;
              color: #48a999;
            }
          }
          .user-intro {
            width: 65%;
            .user-name {
              display: inline-block;
              font-size: 36px;
              margin-bottom: 30px;
              padding-bottom: 8px;
              border-bottom: solid 6px #ede7f6;
            }
            .intro-content {
              height: 110px;
              width: 100%;
              padding: 7px;
              border-radius: 5px;
              background-color: #f5f5f6;
              margin-bottom: 15px;
            }
            button {
              float: right;
              margin-right: 5px;
              color: #48a999;
            }
          }
        }
        .user-active {
          margin: 8% 4% 4% 18%;
          .user-award {
            width: 100%;
            img {
              display: inline-block;
              width: 75px;
              margin-left: 2%;
            }
            div {
              margin-left: 25px;
              height: 75px;
              font-size: 30px;
              font-weight: 600;
              vertical-align: middle;
              display: inline-block;
            }
          }
          .active-item1 {
            font-size: 24px;
            font-weight: 600;
            padding: 20px;
            display: inline-block;
            width: 45%;
            color: white;
            background-color: #48a999;
            i {
              margin-right: 10px;
            }
          }
          .active-item2 {
            font-size: 24px;
            font-weight: 600;
            padding: 20px;
            display: inline-block;
            width: 45%;
            color: #48a999;
            i {
              margin-right: 10px;
            }
          }
          .active-item3 {
            font-size: 24px;
            font-weight: 600;
            padding: 20px;
            display: inline-block;
            width: 45%;
            color: #48a999;
            i {
              margin-right: 10px;
            }
          }
          .active-item4 {
            font-size: 24px;
            font-weight: 600;
            padding: 20px;
            display: inline-block;
            width: 45%;
            color: white;
            background-color: #48a999;
            img {
              height: 24px;
              margin-right: 10px;
            }
          }
          span {
            float: right;
            margin-right: 3%;
          }
        }
      }
    }
    .update-request {
      width: 80%;
      .table {
        border-top: 3px solid #00796b;
      }
      .table tr:hover {
        background-color: #c6e5d9;
      }
      .table tr {
      }
      .table th {
        font-size: 18px;
        height: 70px;
        color: white;
        background: #48a999;
        text-align: center;
        padding: 10px;
        border: 2px solid #3b8686;
        text-align: center;
        vertical-align: middle;
      }
      .table td {
        font-size: 16px;
        padding: 10px;
        border: 2px solid #3b8686;
        text-align: center;
      }
    }
  }
}
